.pic{
width: 300px;
display: block;
margin-top: 50px;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
}
input{
    width: 400px;
    display: block;
    background: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border-color: 2px solid black;
    height: 30px;
    font-weight: bold;
    
}
.btn{
    margin-top: 30px;
    background: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    font-size: medium;
    border-radius: 6px;
    margin-right: 6px;
    margin-left: 6px;
    
}
.wrapper{
    display: flex;
    justify-content: center;
}