body{
    color: white;
    text-align: center;
    background-image: url("arnaud-mariat-45Z6hW1dQMI-unsplash.jpg") ;
background-size: cover;
font-family: "Orbitron", sans-serif;
 
  
}


  


.btn1{
    padding: 6px 12px;
    font-weight: bold;
    background-color: white;
    border: none;
    font-family: "Orbitron", sans-serif;
}
